.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.icon-product {
    width: 50px;
}
.btn:focus {
    box-shadow: none !important;
}
#filtradoAZ,
#filtradoEnvioGratis,
#filtradoLlegaHoy,
#marcaRedragon,
#marcaLogitech,
#marcaHyperX{
    border: 1px solid #000000;
    padding: 5px;
    transition: border-color 0.3s;
    box-shadow: none;
}
#filtradoAZ:focus,
#filtradoEnvioGratis:focus,
#filtradoLlegaHoy:focus,
#marcaRedragon:focus,
#marcaLogitech:focus,
#marcaHyperX:focus{
    border-color: #000000;
}
#precioRange::-webkit-slider-thumb {
    background-color: #ffc107;
}
#barraBusqueda, 
#categoria {
    border: 1px solid #ffc107;
    padding: 5px;
    transition: border-color 0.3s;
    box-shadow: none;
}
#barraBusqueda:focus, 
#categoria:focus {
    border-color: #ffc107;
}
