body {
    background-color: #212529 !important;
}
.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.icon-product {
    width: 50px;
}
.btn:focus {
    box-shadow: none !important;
}
.colorTexto {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#filtradoAZ,
#filtradoEnvioGratis,
#filtradoLlegaHoy,
#marcaRedragon,
#marcaLogitech,
#marcaHyperX{
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 8px; 
}
::-webkit-scrollbar-thumb {
    background-color: rgb(51, 51, 51); 
}

::-webkit-scrollbar-track {
    background-color: rgb(241, 241, 241);
}